<!DOCTYPE html>

<html lang="en">

<body>
<h1>Welcome to our app, {{ name }}</h1>
<form action="/logout" method="post">
    <input class="button" type="submit" value="Выйти"/>
</form>
</body>

</html>